<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Welcome</title>
        <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    </head>

    <body>
      <div class="container-fluid">
      <div class="row">
        
      
        <div>
        <form class="form-signin" id="login_form" method="post" action="/">
            {% csrf_token %}

            <h3 class="form-signin-heading">Login to your Dashboard</h3>
            Username: <input class="form-control" placeholder="Username" type="text" name="username" value=""/>
            <br />
            Password: <input  type="password" class="form-control" placeholder="Password" name="password" value=""/>
            <br />

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit" >Sign in </button>
        </form>
        </div>
   
     
        </div>
        </div>

    </body>
</html>